body{
    background-color: rgb(196, 223, 144);
}

label{
    color: blue;
    display: inline-block;
}

input{
    margin-left: 30px;
}

p{
    margin: 15px;
}

#login{
    width: 60px;
}    


