body{
    background-color: rgb(196, 223, 144);
}

form{
    width: 450px;
}

legend{
    color: purple;
    width: 200px;
    background-color: rgb(247, 216, 221);
}

label{
    color: blue;
}

fieldset{
    border: 1px solid gray;
}

#send{
    width: 70px;
}

#fruit{
    color: black;
}