body{
    background-color: rgb(196, 223, 144);
}

form{
    width: 400px;
}

legend{
    color: purple;
    width: 200px;
    background-color: rgb(247, 216, 221);
}

label{
    color: blue;
}

fieldset{
    border: 1px solid gray;
}

#send{
    width: 100px;
    margin-left: 160px;
}

#fruit{
    color: black;
}

input{
   margin-left: 30px; 
   margin: 15px;
}

#male{
    margin-left: 24px;
}

#female{
    margin-left: 10px;
}

#java{
   margin-left: 21px; 
}

#cplus{
    margin-left: 20px; 
}

#csharp{
    margin-left: 30px; 
}



