body{
    background-color: rgb(196, 223, 144);
}

h1{
    margin-left: 10px;
}

ol, ul, dl{
    width: 600px;
}

#roman{
    border: 1px solid blue;
    list-style-type: upper-roman;
}

#description{
    border: 1px solid blue;
    color: blue;
    background-color: white;
}

#serif{
    border: 1px solid blue;
    list-style-type: none;
}

#sansserif{
    border: 1px solid blue;
}

#fonttypes{
    border: 1px solid blue;
    list-style-type: square;
}
