body{
    background-color: rgb(196, 223, 144);
}

caption{
    font-style: italic;
}

table{
    background-color:  rgb(196, 223, 144);
    border: 3px solid blue;
    border-spacing: 0;
    width: 200px;
}

thead{
    color: red;
    font-weight: bold;
}

tfoot{
    color: blue;
}

td{
    border: 1px solid green;
    text-align: center;
    padding: 20px;
}

#head{
    color: purple;
    border: 1px solid yellowgreen;
}

#foot{
    color: darkorange;
    border: 1px solid yellowgreen;
}

#table{
    box-shadow: 10px 10px black;
}

#border{
    border: 1px solid yellowgreen;
}