body{
    background-color: rgb(196, 223, 144);
}

table{
    background-color:  rgb(196, 223, 144);
    box-shadow: 10px 10px black;
    border: 3px solid blue;
    border-spacing: 0;
}

tfoot{
    color: blue;
}

thead{
    color: red;
    font-weight: bold;
}

td{
    border: 1px solid green;
}