body{
    background-color: yellowgreen;
}

div{
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin: 20px;
    border-radius: 5px;
    background-color: darkgray;
    width: 220px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#expressen{
    border-left: 7px red;
    border-style: ridge;
}

#aftonbladet{
    border-left: 7px yellow;
    border-style: ridge;
}

#sydsvenskan{
    border-left: 7px blue;
    border-style: ridge;
}

#dn{
    border-left: 7px green;
    border-style: ridge;
}

div:hover{
    background-color: gray;
}