body{
    background-color: yellowgreen;
}

div{
    text-align: center;
    padding-top: 5px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: gray;
    width: fit-content;
}

#expressen{
    border-left: 5px red;
    border-style: ridge;
}

#aftonbladet{
    border-left: 5px yellow;
    border-style: ridge;
}

#sydsvenskan{
    border-left: 5px blue;
    border-style: ridge;
}

#dn{
    border-left: 5px green;
    border-style: ridge;
}

a:hover{
    background-color: darkgray;
}