body{
    background-color: darkgreen;
}

h3{
    color: red
}

div{
    border-radius: 5px;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    border: 2px white;
    padding: 20px;
}

:hover{
    color: blue;
    border: 3px lightblue;
}

:focus{
    background-color: blue;
    border: 3px white, 1px blue, 1px white;

}