body{
    background-color: rgb(166, 194, 110);
    width: 450px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

a{
    margin-left: 20px;
    margin-right: 20px;
}