body{background-color: #D2FBA7;}

p{
    width: 12em;
    height: 4em;
}

#first{
    background-color: #9BD770;
    margin: 40px;
}

#second{
    background-color: #66B032; 
    margin: 20px;
    padding: 10px;
    }

#third{
        background-color: #375F1B;
        margin: 30px;
        padding: 30px;
        border: 7px solid #22AABB;
    }