body{
    background-color: #FFBAA3;
}

p{
    background: linear-gradient(to bottom, #FFBAA3, #FE9772);
    box-shadow: 2px 2px #000;
    width: fit-content;
    margin: 40px;
}

#first{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 40px;
}

#second{
    font-family: 'Courier New', Courier, monospace;
    margin: 40px;
}

#third{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}

#fourth{
    margin: 40px;
}

.light{
    font-weight: lighter;
}

.normal{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}