@font-face {
    font-family: ristretto;
    src: url(ristretto.woff);
    font-family: mayestica;
    src: url(Mayestica.otf);
}
    

body{
    background-color: #E1F3CE;
    width: fit-content;
}

p{
    background: linear-gradient(to bottom, #E1F3CE, #B0DC7A);
    box-shadow: 2px 2px #000;
    margin: 30px;
    padding: 10px;
}

#ristretto{
    font-family: ristretto,sans-serif;
}

#mayestica{
    font-family: mayestica,sans-serif;
}