@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Great+Vibes&family=VT323&display=swap');

body{
    background-color: #D1DEFF;
    width: fit-content;
}

p{
    background: linear-gradient(to bottom, #D1DEFF, #678FFE);
    box-shadow: 2px 2px #000;
    margin: 30px;
    padding: 10px;
}

#first{
    font-family: 'Great Vibes', cursive;
}

#second{
    font-family: 'Cabin Sketch', cursive;
}

#third{
    font-family: 'VT323', monospace;
}

#titel1{
    color: green;
    text-shadow: 1px 1px 2px black,0 0 20px blue,0 0 7px darkblue;
    font-size: large;
}

#titel2{
    text-shadow: 4px 4px 4px #666666;
    font-size: large;
}

#titel3{
    color: coral;
    text-shadow: 0 0 10px #00ff00;
    font-size: large;
}

