body{
    background-color: #D1DEFF;
    width: fit-content;
}

p{
    background: linear-gradient(to bottom, #D1DEFF, #678FFE);
    box-shadow: 2px 2px #000;
    margin: 30px;
    padding: 10px;
}

#first{

}

#second{

}

#third{

}

#titel1{
    color: green;
    text-shadow: 1px 1px 2px black,0 0 20px blue,0 0 7px darkblue;
}

#titel2{
    text-shadow: 4px 4px 4px #666666;
}

#titel3{
    color: coral;
    text-shadow: 0 0 10px #00ff00;
}